[Desktop Entry]
Encoding=UTF-8
Name=Link to LinkedList.cs
Type=Link
URL=https://github.com/Godnebeles/educational_projects/blob/main/LinkedList.cs
Icon=text-html
