header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

header  > ul{
    background-color:darkolivegreen;
    margin: 0;
    padding: 0.1%;
    font-size: 25px;
}

header > ul > li {
    display: inline-block;
    margin-left: 30px;
}

header > ul > li:nth-child(1) {
    margin-left:10%;
}

.content {
    width: 70%;
    height: 70vh;

    background-color: gray;
    margin: 0 auto;
    margin-top: 20vh;
}

.avatar {
    width: 20%;
    float:left;
    margin-right: 40px;
}