body{
    background-color: gray;
}

.row {
    background-color: red;
    margin: 0 auto;
    width: 95%;
    margin-top: 1%;
}

.row > div {
    float:left;
}

.content {
    margin: 20px;
}
.person {
    
    width: 30%;
    background-color: black;
    color: white;
}

.experience {
    width: 70%;
    background-color: white;
}
